{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}Settings{% endblock title %}
{% block styles %}
<style>
  .errorlist {
    color: red;
  }
</style>
{% endblock styles %}
{% block scripts %}
<script>

</script>
{% endblock scripts %}

{% block content %}

<div class="container">
  <h3 class="h3 text-center mb-4 text-gray-800">Change Password</h3>

  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}

  <div class="card p-3">
    <form method="post" action="{% url 'core:change_password' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
        {{ form.old_password }}
        {{ form.old_password.errors }}
      </div>
      <div class="form-group">
        <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
        {{ form.new_password1 }}
        {{ form.new_password1.errors }}
      </div>
      <div class="form-group">
        <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
        {{ form.new_password2 }}
        {{ form.new_password2.errors }}
      </div>
      <button type="submit" class="btn btn-primary">Change Password</button>
  </div>
</div>
{% if request.user.is_employer %}

{% endif %}

{% if request.user.is_applicant %}

{% endif %}



{% endblock content %}