{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}Settings{% endblock title %}
{% block styles %}
<style>

</style>
{% endblock styles %}
{% block scripts %}
<script>

</script>
{% endblock scripts %}

{% block content %}

<div class="container">
    <h3 class="h3 text-center mb-4 text-gray-800">Profile Settings</h3>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <div class="card p-4">
        <h5 class="h5">Notification Settings</h5>
        <form action="{% url 'core:profile_settings' %}" method="post">
            {% csrf_token %}
            <div class="form-group my-3">
                <label for="email_notification">Email Notifications</label>
                <select name="email_notification" id="email_notification" class="form-control">
                    {% if request.user.send_email_notification %}
                    <option value="yes" selected>Yes</option>
                    <option value="no">No</option>
                    {% else %}
                    <option value="yes">Yes</option>
                    <option value="no" selected>No</option>
                    {% endif %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
{% if request.user.is_employer %}

{% endif %}

{% if request.user.is_applicant %}

{% endif %}



{% endblock content %}