{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

  <head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'core/img/fav.png' %}">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Job Listing</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
			CSS
			============================================= -->
    <link rel="stylesheet" href="{% static 'core/css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
  </head>

  <body>
    {% include 'navbar.html' %}

    {% block content %}
    {% endblock content %}
    
    {% include 'footer.html' %}

    <script src="{% static 'core/js/vendor/jquery-2.2.4.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="{% static 'core/js/vendor/bootstrap.min.js' %}"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="{% static 'core/js/easing.min.js' %}"></script>
    <script src="{% static 'core/js/hoverIntent.js' %}"></script>
    <script src="{% static 'core/js/superfish.min.js' %}"></script>
    <script src="{% static 'core/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'core/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'core/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'core/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'core/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'core/js/parallax.min.js' %}"></script>
    <script src="{% static 'core/js/mail-script.js' %}"></script>
    <script src="{% static 'core/js/main.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
  </body>

</html>