{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}

{% include 'start_banner.html' %}

<!-- Start features Area -->
<section class="features-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-feature">
          <h4>Searching</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-feature">
          <h4>Applying</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-feature">
          <h4>Security</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-feature">
          <h4>Notifications</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End features Area -->

<!-- Start popular-post Area -->
<section class="popular-post-area pt-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="active-popular-post-carusel">
        <div class="single-popular-post d-flex flex-row">
          <div class="thumb">
            <img class="img-fluid" src="{% static 'core/img/p1.png' %}" alt="">
            <a class="btns text-uppercase" href="#">view job post</a>
          </div>
          <div class="details">
            <a href="#">
              <h4>Creative Designer</h4>
            </a>
            <h6>Los Angeles</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut labore
              et dolore magna aliqua. Ut enim ad minim veniam quis.
            </p>
          </div>
        </div>
        <div class="single-popular-post d-flex flex-row">
          <div class="thumb">
            <img src="{% static 'core/img/p2.png' %}" alt="">
            <a class="btns text-uppercase" href="#">view job post</a>
          </div>
          <div class="details">
            <a href="#">
              <h4>Creative Designer</h4>
            </a>
            <h6>Los Angeles</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut labore
              et dolore magna aliqua. Ut enim ad minim veniam quis.
            </p>
          </div>
        </div>
        <div class="single-popular-post d-flex flex-row">
          <div class="thumb">
            <img src="{% static 'core/img/p1.png' %}" alt="">
            <a class="btns text-uppercase" href="#">view job post</a>
          </div>
          <div class="details">
            <a href="#">
              <h4>Creative Designer</h4>
            </a>
            <h6>Los Angeles</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut labore
              et dolore magna aliqua. Ut enim ad minim veniam quis.
            </p>
          </div>
        </div>
        <div class="single-popular-post d-flex flex-row">
          <div class="thumb">
            <img src="{% static 'core/img/p2.png' %}" alt="">
            <a class="btns text-uppercase" href="#">view job post</a>
          </div>
          <div class="details">
            <a href="#">
              <h4>Creative Designer</h4>
            </a>
            <h6>Los Angeles</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut labore
              et dolore magna aliqua. Ut enim ad minim veniam quis.
            </p>
          </div>
        </div>
        <div class="single-popular-post d-flex flex-row">
          <div class="thumb">
            <img src="{% static 'core/img/p1.png' %}" alt="">
            <a class="btns text-uppercase" href="#">view job post</a>
          </div>
          <div class="details">
            <a href="#">
              <h4>Creative Designer</h4>
            </a>
            <h6>Los Angeles</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut labore
              et dolore magna aliqua. Ut enim ad minim veniam quis.
            </p>
          </div>
        </div>
        <div class="single-popular-post d-flex flex-row">
          <div class="thumb">
            <img src="{% static 'core/img/p2.png' %}" alt="">
            <a class="btns text-uppercase" href="#">view job post</a>
          </div>
          <div class="details">
            <a href="#">
              <h4>Creative Designer</h4>
            </a>
            <h6>Los Angeles</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut labore
              et dolore magna aliqua. Ut enim ad minim veniam quis.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End popular-post Area -->

<!-- Start feature-cat Area -->
<section class="feature-cat-area pt-100" id="category">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-60 col-lg-10">
        <div class="title text-center">
          <h1 class="mb-10">Featured Job Categories</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="single-fcat">
          <a href="category.html">
            <img src="{% static 'core/img/o1.png' %}" alt="">
          </a>
          <p>Accounting</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="single-fcat">
          <a href="category.html">
            <img src="{% static 'core/img/o2.png' %}" alt="">
          </a>
          <p>Development</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="single-fcat">
          <a href="category.html">
            <img src="{% static 'core/img/o3.png' %}" alt="">
          </a>
          <p>Technology</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="single-fcat">
          <a href="category.html">
            <img src="{% static 'core/img/o4.png' %}" alt="">
          </a>
          <p>Media & News</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="single-fcat">
          <a href="category.html">
            <img src="{% static 'core/img/o5.png' %}" alt="">
          </a>
          <p>Medical</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="single-fcat">
          <a href="category.html">
            <img src="{% static 'core/img/o6.png' %}" alt="">
          </a>
          <p>Goverment</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End feature-cat Area -->

{% include 'post_area.html' %}

<!-- Start callto-action Area -->
<section class="callto-action-area section-gap" id="join">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content col-lg-9">
        <div class="title text-center">
          <h1 class="mb-10 text-white">Join us today without any hesitation</h1>
          <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
          <a class="primary-btn" href="#">I am a Candidate</a>
          <a class="primary-btn" href="#">Request Free Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End calto-action Area -->

<!-- Start download Area -->
<section class="download-area section-gap" id="app">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 download-left">
        <img class="img-fluid" src="{% static 'core/img/d1.png' %}" alt="">
      </div>
      <div class="col-lg-6 download-right">
        <h1>Download the <br>
          Job Listing App Today!</h1>
        <p class="subs">
          It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of
          Virtual Game, it has been achieving great heights so far as its popularity and technological advancement
          are concerned.
        </p>
        <div class="d-flex flex-row">
          <div class="buttons">
            <i class="fa fa-apple" aria-hidden="true"></i>
            <div class="desc">
              <a href="#">
                <p>
                  <span>Available</span> <br>
                  on App Store
                </p>
              </a>
            </div>
          </div>
          <div class="buttons">
            <i class="fa fa-android" aria-hidden="true"></i>
            <div class="desc">
              <a href="#">
                <p>
                  <span>Available</span> <br>
                  on Play Store
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End download Area -->


{% endblock content %}