{% load employeer_tags %}

<!-- Start post Area -->
<section class="post-area section-gap">
  <div class="container">
    <div class="row justify-content-center d-flex">
      <div class="col-lg-8 post-list">
        <ul class="cat-list">
          <li><a href="#">Recent</a></li>
          <li><a href="#">Full Time</a></li>
          <li><a href="#">Intern</a></li>
          <li><a href="#">part Time</a></li>
        </ul>

        {% for job in jobs %}
        <div class="single-post d-flex flex-row">
          <div class="thumb mr-2">
            <img src="{{ job.image.url }}" alt="{{ job.title }}" width="100" height="100">
          </div>
          <div class="details">
            <div class="title d-flex flex-row justify-content-between">
              <div class="titles">
                <a href="{{ job.get_absolute_url }}">
                  <h4 class="text-wrap">{{ job.title }}</h4>
                </a>
                <h6>{{ job.company.name }}</h6>
              </div>
              <ul class="btns">
                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                {% if job.is_closed %}
                  <li><a href="#" class="genric-btn danger circle arrow">Closed</a></li>
                {% else %}
                  
                  {% if request.user.is_applicant %}
                  
                    {% if request.user|is_applied:job %}
                      <li><a href="javascript:void(0);" class="genric-btn success circle arrow">Applied</a></li>
                      
                      {% else %}
                      <li><a href="{% url 'core:apply' job.slug %}" class="genric-btn info circle arrow">Apply</a></li>
                      {% endif %}
                  {% endif %}

                {% endif %}
              
              </ul>
            </div>
            <p>
              {{ job.short_description }}
            </p>
            <h5>Job Nature: {{ job.job_type }}</h5>
            <p class="address"><span class="lnr lnr-map"></span>
              {{ job.location }}
            </p>
            <p class="address"><span class="lnr lnr-calendar-full"></span>

              {% if job.experience == 0 %}
              No Experience
              {% else %}
              {{ job.experience }} Years Experience
              {% endif %}
            </p>
            <p class="address"><i class="fa fa-money"></i>
              {% if job.salary == 0 %}
              Negotiable
              {% else %}
              {{ job.salary }}
              {% endif %}
            </p>
            <p class="address"><i class="fa fa-clock-o"></i>
              {{ job.created_at|timesince }} ago
            </p>
            <p class="address"><i class="fa fa-eye"></i>
              {{ job.views }}
            </p>
            <ul class="skills">
              Skills:
              {% for skill in job.skills.all %}
              <li>
                <span class="lnr lnr-tag"></span>
                <a href="#">{{ skill.name }}</a>
              </li>
              {% endfor %}
            </ul>
            
            {% if request.user.is_authenticated %}

            {% if request.user.is_applicant %}
            Matches {{ job.matches }}% 
            {% if job.matches >= 90 %}<strong class="text-uppercase">(Recommended)</strong>{% endif %}
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: {{ job.matches }}%;" aria-valuenow="{{ job.matches }}" aria-valuemin="0" aria-valuemax="100">{{ job.matches }}%</div>
            </div>
          {% endif %}
            
            {% else %}
            <a href="{% url 'account:signin' %}" class="btn btn-primary">Login to see match</a>
            {% endif %}
            
            <ul class="tags">
              {% for tag in job.tags.all %}
              <li>
                <span class="lnr lnr-tag"></span>
                {{ tag.name }}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}

        <a class="text-uppercase loadmore-btn mx-auto d-block" href="category.html">Load More job Posts</a>

        {% comment %} <ul class="pagination justify-content-center">
          {% if page.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="?page=1">First</a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="?page={{ page.previous_page_number }}">Previous</a>
              </li>
          {% endif %}
      
          <li class="page-item disabled">
              <span class="page-link">Page {{ page.number }} of {{ page.paginator.num_pages }}</span>
          </li>
      
          {% if page.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ page.next_page_number }}">Next</a>
              </li>
              <li class="page-item">
                  <a class="page-link" href="?page={{ page.paginator.num_pages }}">Last</a>
              </li>
          {% endif %}
      </ul> {% endcomment %}
      

      </div>
      {% include 'sidebar.html' with jobs=jobs categories=categories locations=locations tags=tags %}
    </div>
  </div>
</section>
<!-- End post Area -->