{% extends 'base.html' %}
{% load static %}
{% block title %}Search{% endblock title %}
{% block content %}

{% include 'start_banner.html' %}

<!-- Start features Area -->
<section class="features-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-feature">
          <h4>Searching</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-feature">
          <h4>Applying</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-feature">
          <h4>Security</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-feature">
          <h4>Notifications</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End features Area -->

{% include 'post_area.html' %}

<!-- Start callto-action Area -->
<section class="callto-action-area section-gap" id="join">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content col-lg-9">
        <div class="title text-center">
          <h1 class="mb-10 text-white">Join us today without any hesitation</h1>
          <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
          <a class="primary-btn" href="#">I am a Candidate</a>
          <a class="primary-btn" href="#">Request Free Demo</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End calto-action Area -->

<!-- Start download Area -->
<section class="download-area section-gap" id="app">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 download-left">
        <img class="img-fluid" src="{% static 'core/img/d1.png' %}" alt="">
      </div>
      <div class="col-lg-6 download-right">
        <h1>Download the <br>
          Job Listing App Today!</h1>
        <p class="subs">
          It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of
          Virtual Game, it has been achieving great heights so far as its popularity and technological advancement
          are concerned.
        </p>
        <div class="d-flex flex-row">
          <div class="buttons">
            <i class="fa fa-apple" aria-hidden="true"></i>
            <div class="desc">
              <a href="#">
                <p>
                  <span>Available</span> <br>
                  on App Store
                </p>
              </a>
            </div>
          </div>
          <div class="buttons">
            <i class="fa fa-android" aria-hidden="true"></i>
            <div class="desc">
              <a href="#">
                <p>
                  <span>Available</span> <br>
                  on Play Store
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End download Area -->


{% endblock content %}