{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}Applications{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />

{% endblock styles %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
  integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"
  integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  $(document).ready(function () {
    $('#applicants_table').DataTable();
  });
</script>
{% endblock scripts %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} m-2">
  {{ message }}
</div>
{% endfor %}
{% endif %}


{% if request.user.is_employer %}
<h2 class="text-center my-4">
  Applications
</h2>
<div class="mx-2 my-2">
  <table id="applicants_table" class="table">
    <thead>
      <tr>
        <th>Sno</th>
        <th>User</th>
        <th>Message</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for application in applications %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ application.applicant.get_full_name }}</td>
        <td>{{ application.message }}</td>
        <td>{{ application.status }}</td>
        <td>
          <div class="d-flex justify-content-center">
            <div class="m-1">
              <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                data-bs-target="#details-{{ application.id }}">
                <i class="fas fa-eye"></i>
              </button>
              <div class="modal fade" id="details-{{ application.id }}" tabindex="-1" data-bs-backdrop="static"
                data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalTitleId">
                        Application Details
                      </h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>
                        <strong>Job: </strong>{{ application.job.title }}
                      </p>
                      <p>
                        {% if application.applicant.image %}
                        <strong>Applicant Photo: </strong><img src="{{ application.applicant.image.url }}"
                          alt="{{ application.applicant.get_full_name }}" width="50px">
                        {% else %}
                        <strong>Applicant Photo: </strong><img
                          src="https://ui-avatars.com/api/?name={{ request.user.get_full_name }}&amp;size=200&amp;rounded=true&amp;color=fff&amp;background=fc6369"
                          alt="profile image" class="rounded-circle" width="50px" height="50px">
                        {% endif %}
                      </p>
                      <p>
                        <strong>Applicant: </strong>{{ application.applicant.get_full_name }}
                      </p>
                      <p>
                        <strong>Message: </strong>{{ application.message }}
                      </p>
                      <p>
                        <strong>Status: </strong>{{ application.status }}
                      </p>
                      <p>
                        <strong>Job posted on: </strong>{{ application.job.created_at }}
                      </p>
                      <p>
                        <strong>Applied On: </strong>{{ application.created_at }}
                      </p>
                      <p>
                        <strong>Resume: </strong><a href="{{ application.resume.url }}" target="_blank">View</a>
                      </p>
                      <p>
                        <strong>Cover Letter: </strong><a href="{{ application.cover_letter.url }}"
                          target="_blank">View</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="m-1">
              <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                data-bs-target="#application-{{ application.id }}">
                <i class="fas fa-edit"></i>
              </button>
              <div class="modal fade" id="application-{{ application.id }}" tabindex="-1" data-bs-backdrop="static"
                data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalTitleId">
                        Update Application
                      </h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form action="{% url 'employeer:application_status' application.id %}" method="post">
                        {% csrf_token %}
                        <select name="status" id="status" class="form-control">
                          <option value="Pending" {% if application.status == 'Pending' %} selected {% endif %}>
                            Pending
                          </option>
                          <option value="Shortlisted" {% if application.status == 'Shortlisted' %} selected {% endif %}>
                            Shortlisted
                          </option>
                          <option value="Accepted" {% if application.status == 'Accepted' %} selected {% endif %}>
                            Accepted
                          </option>
                          <option value="Rejected" {% if application.status == 'Rejected' %} selected {% endif %}>
                            Rejected
                          </option>
                        </select>
                        <button type="submit" class="btn btn-primary my-3">Save</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endif %}

{% if request.user.is_applicant %}

{% endif %}


{% endblock content %}