{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}Create Company{% endblock title %}
{% block styles %}
<style>
    .errorlist {
        color: red;
    }
</style>
{% endblock styles %}

{% block content %}

  {% if request.user.is_employer %}
  <h2 class="m-3 text-center">Create Company</h2>
    <div class="m-3">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form action="{% url 'employeer:create_company' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
  {% endif %}

  {% if request.user.is_applicant %}

  {% endif %}


{% endblock content %}
