{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}Jobs{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />

{% endblock styles %} {% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
  integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"
  integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  $(document).ready(function () {
    $("#applicants_table").DataTable();
  });
</script>
{% endblock scripts %} {% block content %} {% if request.user.is_employer %}
<h2 class="text-center my-4">All Posted Jobs</h2>
<div class="mx-2 my-2">
  <table id="applicants_table" class="table">
    <thead>
      <tr>
        <th>Sno</th>
        <th>Title</th>
        <th>Salary</th>
        <th>Experience</th>
        <th>Company</th>
        <th>Location</th>
        <th>Tags</th>
        <th>Total Views</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ job.title }}</td>
        <td>{{ job.salary }}</td>
        <td>{{ job.experience }}</td>
        <td>{{ job.company.name }}</td>
        <td>{{ job.location.name }}</td>
        <td>
          {% for tag in job.tags.all %}
          <span class="badge bg-primary">{{ tag.name }}</span>
          {% endfor %}
        </td>
        <td>{{ job.views }}</td>
        <td>
          <div class="d-flex">
            <div class="m-1">
              <button type="button" class="btn btn-sm btn-primary btn-lg" data-bs-toggle="modal"
                data-bs-target="#viewJob-{{ job.id }}">
                <i class="fas fa-eye"></i>
              </button>
              <div class="modal fade" id="viewJob-{{ job.id }}" tabindex="-1" data-bs-backdrop="static"
                data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalTitleId">
                        {{ job.title }}
                      </h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>
                        <strong>Short Description: </strong>
                        {{ job.short_description }}
                      </p>
                      <p>
                        <strong>Description: </strong>
                        {{ job.description|safe }}
                      </p>
                      <p><strong>Salary: </strong> {{ job.salary }}</p>
                      <p><strong>Experience: </strong> {{ job.experience }}</p>
                      <p><strong>Type: </strong> {{ job.job_type }}</p>
                      <p><strong>Category: </strong> {{ job.category.name }}</p>
                      <p><strong>Location: </strong> {{ job.location.name }}</p>
                      <p><strong>Company: </strong> {{ job.company.name }}</p>
                      <p>
                        <strong>Tags: </strong>
                        {% for tag in job.tags.all %}
                        <span class="badge bg-primary">{{ tag.name }}</span>
                        {% endfor %}
                      </p>
                      <p><strong>Posted On: </strong> {{ job.created_at }}</p>
                      <p><strong>Views: </strong> {{ job.views }}</p>
                      <p>
                        <strong>Applicants: </strong> {{ job.applicants.count }}
                      </p>
                      <p>
                        <strong>Applicants: </strong>
                        {% for applicant in job.applicants.all %}
                        <span class="badge bg-primary">{{ applicant.user.username }}</span>
                        {% endfor %}
                      </p>
                      <p>
                        <strong>Is Published: </strong> {{ job.is_published }}
                      </p>
                      <p><strong>Is Closed: </strong> {{ job.is_closed }}</p>
                      <p>
                        <strong>Is Approved: </strong> {{ job.is_approved }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="m-1">
              <a href="{% url 'employeer:edit_job' job.pk %}" class="btn btn-sm btn-primary">
                <i class="fas fa-edit"></i>
              </a>
            </div>

          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="modal fade" id="addLocation" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"
  aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Add Location</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="#" method="post">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class="btn btn-primary w-100">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endif %}
{% if request.user.is_applicant %}
{% endif %}
{% endblock content %}